.button {
    font: inherit;
    border: 1px solid #F4B301;
    background: #F4B301;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #ab6611;
    border-color: #ab6611;
  }
  
  .button:focus {
    outline: none;
  }